
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>


<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="etudiant" routerLinkActive="active" class="nav-link" >etudiant List</a>
      </li>
      <li class = "nav-item">
          <a routerLink="create-etudiant" routerLinkActive="active" class="nav-link" >Add etudiant</a>
      </li>



      <li class = "nav-item">
          <a routerLink="admin" routerLinkActive="active" class="nav-link" >admin List</a>
      </li>
      <li class = "nav-item">
          <a routerLink="create-admin" routerLinkActive="active" class="nav-link" >Add admin</a>
      </li>
      <li class = "nav-item">
        <a routerLink="resultas" routerLinkActive="active" class="nav-link" >statistic</a>
    </li>
  </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class = "container">
  <router-outlet></router-outlet>
</div>
<footer class = "footer">
  <div class = "container">
     
  </div>
</footer></body>
