
<div class="col-md-6 offset-md-3">
    <h3> Update admin </h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label> age</label>
            <input type="number" class ="form-control" id = "age"
                [(ngModel)] = "admin.age" name = "age">
        </div>
    
        <div class="form-group">
            <label> name</label>
            <input type="text" class ="form-control" id = "nom"
                [(ngModel)] = "admin.nom" name = "nom">
        </div>
    
        <div class="form-group">
            <label> Etat de Presence</label>
            <input type="text" class ="form-control" id = "role"
                [(ngModel)] = "admin.role" name = "role">
        </div>

        <div class="form-group">
            <label> Ncarte</label>
            <input type="number" class ="form-control" id = "carte"
                [(ngModel)] = "admin.carte" name = "carte">
        </div>
       
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 